/* color theme! */
/*  #00EB00 - rgb(0, 212, 0) */
/*  #IF0322 - rgb(31, 3, 34) */
/*  #87B38D - rgb(135, 179, 141) */

.collab1 {
    background-color: black;
    padding: center;
}

.collab1 ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around
}

.collab1 ul l1 {
    margin: 1em;
    padding: 1em;
}


.pic1{
    background-color: goldenrod;
    padding: right;
    text-align: center
}

.country1{
    background-color: goldenrod;
}

.alias1{
    background-color:black;
    text-align: center;
}

.alias1 ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
}

h1 {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
}
h2 {
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center
}
.country1 p {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center
}