
/* color theme! */
/*  #00EB00 - rgb(0, 212, 0) */
/*  #IF0322 - rgb(31, 3, 34) */
/*  #87B38D - rgb(135, 179, 141) */



body {
    background-color: black;
    color: white;
        
}
     
.topnav {
    background-color: rgb(31, 3, 34);
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-shadow: black .8px .8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: rgb(0, 212, 0);
    color: white;
}


.topnav a.active {
    background-color: rgb(0, 212, 0);
    color: white;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav a:hover {
   background-color: rgba(135, 179, 141);
   color: black;
   text-decoration: none;
}

.topnav .icon {
   display: none;
}

.bottom-div{
    margin-top:50px;
}

.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000000), to(rgb(0, 212, 0)));
}

.main-footer-div {
    background:
        radial-gradient(
            circle, 
             rgba(0, 212, 0, .7),
             rgba(0, 212, 0, .3),
             rgba(0, 212, 0, .1),
             rgba(0, 212, 0, .1),
             rgba(0, 212, 0, .1),
             rgba(0, 212, 0, 0)),
        linear-gradient(
            rgb(31, 3, 34), 
            rgb(31, 3, 34));
    color: rgb(135, 179, 141);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    clear: both;
    text-align: center;
    text-shadow: 
        -1px 0 rgb(31, 3, 34), 
        0 1px rgb(31, 3, 34), 
        1px 0 rgb(31, 3, 34), 
        0 -1px rgb(31, 3, 34);
}

.left-align-footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-align-footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-media-icon {
    width: 56px;
    height: 56px;
}

