/* color theme! */
/*  #00EB00 - rgb(0, 212, 0) */
/*  #IF0322 - rgb(31, 3, 34) */
/*  #87B38D - rgb(135, 179, 141) */

.flex-container {

}

.intro-div {
    padding: 1em;
}

.intro-div h3 {
    font-size: 1em;
    text-align: center;
}

.skills-list {

}

.album-container {
    background: 
        linear-gradient(
            to bottom,
            rgb(31, 3, 34),
            rgb(31, 3, 34),
            rgba(0, 0, 0, 0.6));
    color: rgb(0, 212, 0);
    text-shadow:
		-.3px -.3px 0 black,
		.3px -.3px 0 black,
		-.3px .3px 0 black,
		.3px .3px 0 black;
}

h2 {
    text-align: center;
}

.album-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}

.album-flex div {
    width: 40%;
    margin: 2em;

}

.album-flex img {
    width: 200px;
    height: 200px;
    /* box-shadow: rgba(255, 255, 255, 0.5) -3px 3px -3px 3px; */
    /* border-radius: 5px; */
    box-shadow: 0 15px 10px -10px rgb(0, 212, 0);
    
  
}

.album-card {
    display: flex;
    width: auto;
    height: auto;
}

.album-card div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.album-card h4 {
    font-size: 1em;
}

.album-card h5 {
    font-size: .8em;
}
.home-container {
    background: 
        linear-gradient(
            rgb(31, 3, 34),
            black
        );
    color: rgb(0, 219, 0);
}

.mansion-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}

.mansion-flex div {
    width: 45%;
}

.mansion-flex h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    padding: .5em;
    background:
        linear-gradient(
            to top,
            black,
            black,
            silver
        );
    border-radius: 5px;
    box-shadow: 0 15px 10px -10px rgba(0, 212, 0, 0.5);
}

.mansion-img {
    width: 100%;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    margin: 1em;
    border-radius: 5px;
}

.collabs-list {

}

.awards-flex {

}
