/* color theme! */
/*  #00EB00 - rgb(0, 212, 0) */
/*  #IF0322 - rgb(31, 3, 34) */
/*  #87B38D - rgb(135, 179, 141) */

.flex-container {

}

.similar-content {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(31, 3, 34, 0.7) 
        ),
        url("../images/kanyebackgroundimg2.jpg") no-repeat fixed;
    background-size: cover;
    color: rgb(0, 212, 0);
}

.intro-div {
    display: flex;
    flex-direction: column;
}

.intro-div h2 {
    width: 100%;
    font-size: 4em;
    text-shadow: 0 1px 0 rgb(0, 160, 0),
               0 2px 0 rgb(0, 140, 0),
               0 3px 0 rgb(0, 120, 0),
               0 4px 0 rgb(0, 100, 0),
               0 5px 0 rgb(0, 80, 0),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    padding-bottom: 0;
} 

.intro-div > h3 {
    font-size: 2em;
    text-align: center;
    text-shadow: 0 1px 0 rgb(0, 160, 0),
               0 2px 0 rgb(0, 140, 0),
               0 3px 0 rgb(0, 120, 0),
               0 4px 0 rgb(0, 100, 0),
               0 5px 0 rgb(0, 80, 0),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    margin-bottom: 1em;
}
.intro-div h4 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.flex-details {
    display: flex;
    justify-content: space-around;
}

.flex-details h3 {
    text-align: center;
}

.flex-details > div {
    width: 100%;
}

.flex-details > div p {
    color: white;
    padding: 1.5em;
    background-color
}

.flex-details ul {
    list-style-type: none;
    text-align: center;
    padding: 1.5em;
}

.flex-details ul li {
    color: white;
}

.skills-list {

}

.album-container {
    background: 
        linear-gradient(
            to bottom,
            rgba(31, 3, 34, 0.8),
            rgba(31, 3, 34, 0.8),
            rgba(0, 0, 0, 0.8)),
            url("../images/kanyebackgroundimg5.jpg") no-repeat fixed;
    background-size: cover;
    color: rgb(0, 212, 0);
    text-shadow:
		-.3px -.3px 0 black,
		.3px -.3px 0 black,
		-.3px .3px 0 black,
        .3px .3px 0 black;
}

h2 {
    text-align: center;
    padding: .5em;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.05));
}

.album-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 1em;
    
}

.album-flex div {
    /* width: 40%; */
    margin: 1.5em;

}

.album-flex img {
    width: 200px;
    height: 200px;
    /* box-shadow: rgba(255, 255, 255, 0.5) -3px 3px -3px 3px; */
    border-radius: 5px;
    box-shadow: 0 15px 10px -10px rgba(0, 212, 0, 0.7);
    
  
}

.album-card {
    display: flex;
    width: 40%;
    height: auto;
}

.album-card div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.album-card h4 {
    font-size: 1em;
}

.album-card h5 {
    font-size: .8em;
}
.home-container {
    background: 
        linear-gradient(
            to top,
            rgba(31, 3, 34, 0.8),
            rgba(0, 0, 0, 0.8)),
        url("../images/kanyebackgroundimg4.jpg") no-repeat fixed;
    background-size: cover;
    color: rgb(0, 219, 0);
}

.mansion-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    padding: 1em;
}

.mansion-flex div {
    width: 45%;
}

.mansion-flex h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    padding: .5em;
    background:
        linear-gradient(
            to top,
            rgb(31, 3, 34),
            black,
            black,
            silver
        );
    border-radius: 5px;
    box-shadow: 0 15px 10px -10px rgba(0, 212, 0, 0.5);
}

.mansion-img {
    width: 100%;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    margin: 1em;
    border-radius: 5px;
}

.collabs-list {

}

.awards-container {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(31, 3, 34, 0.8)
        ),
        url("../images/kanyebackgroundimg3.jpg") no-repeat fixed;
    background-size: cover;
    color: rgb(0, 212, 0);
    text-shadow: 
        -1px 0 rgb(31, 3, 34), 
        0 1px rgb(31, 3, 34), 
        1px 0 rgb(31, 3, 34), 
        0 -1px rgb(31, 3, 34);
    padding: 1em;
}

.awards-flex {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 2em;
    
}

.awards-flex img {
    box-shadow: 0 15px 10px -10px rgba(0, 212, 0, 0.5);
    border-radius: 5px;
    
}

.awards-flex div {
    margin: auto;
}

.awards-flex ul {
    list-style-type: none;
    padding: 0;
}

.awards-flex ul li {
    
}
