/* color theme! */
/*  #00EB00 - rgb(0, 212, 0) */
/*  #IF0322 - rgb(31, 3, 34) */
/*  #87B38D - rgb(135, 179, 141) */

.kanye-container {
    display: -webkit-flex;
    display: flex;
    
}

.kanye-container img {
    object-fit: cover;
    height: 25em;
    justify-content: flex-start;
    width: 20em;
}

.spouse1 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}

.spouse1 img {
    object-fit: cover;
    height: 25em;
    width: 20em;
    align-items: center;
    align-content: center;
}

.spouse2 {
    display: -webkit-flex;
    display: flex;
}

.spouse2 img {
    object-fit: cover;
    height: 25em;
    justify-content: flex-start;
    width: 20em;
}

.kid3 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}

.kid3 img {
    object-fit: cover;
    height: 25em;
    width: 20em;
    align-items: center;
    align-content: center;
}

.kid4 {
    display: -webkit-flex;
    display: flex;
}

.kid4 img {
    object-fit: cover;
    height: 25em;
    justify-content: flex-start;
    width: 20em;
}




