/* color theme! */
/*  #00EB00 - rgb(0, 212, 0) */
/*  #IF0322 - rgb(31, 3, 34) */
/*  #87B38D - rgb(135, 179, 141) */

.kanye-container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanye-container img {
    object-fit: cover;
    height: 25em;
    align-self: center;
    width: 20em;
}

.spouse1 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
}

.spouse1 img {
    align-items: center;
    align-content: center;
    object-fit: cover;
    object-position: 100% 0;
    width: 400px;
    height: 400px;
}

.kid2 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
}

.kid2 img {
    align-items: center;
    align-content: center;
    object-fit: cover;
    object-position: 100% 0;
    width: 400px;
    height: 400px;
}

.content-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.insert-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}